<form hx-post="{% url 'choose_course' %}" hx-swap="outerHTML">

  {% csrf_token %}


  {% if classes.next_page_token %}
    <input type="hidden" value="{{ classes.next_page_token }}" />
  {% endif %}


  <label class="block text-sm text-gray-600" for="choice">
    Course
  </label>


  <select
    class="text-sm"
    name="choice">

    <option>Please choose a course</option>

    {% for class in classes.classes %}
      <option value="{{ class.id_ }}">{{ class.name }}</option>
    {% endfor %}
  </select>

  <br />

  <button
    class="p-1 m-1 font-medium font-bold text-white bg-purple-500 rounded focus:ring-purple-600 hover:bg-purple-400"
    data-loading-class="!bg-gray-500"
    >Submit
  </button>

  <div class="inline htmx-indicator">
    {% include 'core/loading.html' %}
  </div>

</form>

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
