{% comment %}

Loads after the course choose has been made, appended inside the
selections-wrapper container.

{% endcomment %}


<form hx-post="{% url 'choose_assignment' %}" hx-swap="outerHTML">

  {% csrf_token %}


  {% if next_page_token %}
    <input type="hidden" value="{{ next_page_token }}" />
  {% endif %}


  <label class="block text-sm text-gray-600" for="choice">
    Assignment
  </label>


  <select 
    class="text-sm"
    name="choice">

    <option>Please choose an assignment</option>

    {% for id, name in assignments.items %}
      <option value="{{ id }}">{{ name }}</option>
    {% endfor %}
  </select>

  <br />

  <button
    class="p-1 m-1 font-medium font-bold text-white bg-purple-500 rounded focus:ring-purple-800 hover:bg-purple-400"
    data-loading-class="!bg-gray-500"
    >Submit
  </button>

  <div class="inline htmx-indicator">
    {% include 'core/loading.html' %}
  </div>

</form>

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
