{% comment %}

This partial will load as soon as the class selection is complete. On load,
we will immediately fetch the assignment choice partial.

{% endcomment %}


<h3 class="text-black">

  <span class="font-bold text-grey-700">
    Course:
  <span/>

  <span class="font-normal text-normal">
    {{ course.name }}
  </span>

</h3>


<form
  hx-get="{% url 'choose_assignment' %}"
  hx-trigger="load"
  hx-swap="outerHTML">
  {% include 'core/loading.html' %}
</form>

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
