# generic python
*.pyc
__pycache__
venv
*.o
*.so
*.log
dist
.coverage
htmlcov

# editor
Session.vim
.vscode
.idea

# django
db.sqlite3

# keep big demo video out of version control
fast_grader/static/demo.mp4
