# generic python
*.pyc
__pycache__
venv
*.o
*.so
*.log
dist
.coverage
htmlcov

# editor
Session.vim
.vscode
.idea
scratch.md

# django
db.sqlite3
static_root

# terraform
.terraform
*.tfstate*
secret.auto.tfvars
