{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% if enable_logrocket %}
      <script src="https://cdn.lr-in.com/LogRocket.min.js" crossorigin="anonymous"></script>
      <script>window.LogRocket && window.LogRocket.init('gbwkwf/fast-grader');</script>
    {% endif %}

    {% comment %}use unminified htmx in debug mode {% endcomment %}
    {% if debug %}
      <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    {% endif %}

    <title>{% block title %}Fast GC Grader{% endblock %}</title>
    {% block head %}{% endblock %}

    {% tailwind_css %}
  </head>

  <body>

    <div class="float-right">
    {% if request.user.is_authenticated %}
      <a href="{% url 'account_logout' %}">
        <button class="block p-2 m-2 bg-indigo-100 rounded shadow text-grey-800 hover:bg-indigo-200 focus:ring-indigo-400">
          Log Out
        </button>
      </a>
    {% else %}
      <a href="{% url 'account_login' %}">
        <button class="block p-2 m-2 bg-green-100 rounded shadow text-grey-800 hover:bg-green-200 focus:ring-green-400">
          Sign In
        </button>
      </a>
      <a href="{% url 'account_signup' %}">
        <button class="block p-2 m-2 bg-yellow-100 rounded shadow text-grey-800 hover:bg-yellow-200 focus:ring-yellow-400">
          Sign Up
        </button>
      </a>
    {% endif %}
    </div>


    {% block content %}{% endblock %}

  </body>

</html>

