{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% if enable_logrocket %}
      <script src="https://cdn.lr-in.com/LogRocket.min.js" crossorigin="anonymous"></script>
      <script>window.LogRocket && window.LogRocket.init('gbwkwf/fast-grader');</script>
    {% endif %}

    <script src="{% static 'grader/htmx.js' %}"></script>

    {% comment %}  htmx  {% endcomment %}
    <!-- {% if debug %} -->
    <!--   <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script> -->
    <!-- {% else %} -->
    <!--   <script src="https://unpkg.com/htmx.org@1.5.0"></script> -->
    <!-- {% endif %} -->
    <script>
      // htmx init script
      document.addEventListener('DOMContentLoaded', () => {
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
      })
    </script>

    <title>{% block title %}Fast GC Grader{% endblock %}</title>
    {% block head %}{% endblock %}

    {% tailwind_css %}
  </head>

  <body>

    <div class="fixed top-0 right-0 z-20">
    {% if request.user.is_authenticated %}
      <a href="{% url 'account_logout' %}">
        <button class="block p-2 bg-indigo-100 rounded shadow md:m-2 text-grey-800 hover:bg-indigo-200 focus:ring-indigo-400">
          Log Out
        </button>
      </a>
    {% else %}
      <a href="{% url 'account_login' %}">
        <button class="block p-2 bg-green-100 rounded shadow md:m-2 text-grey-800 hover:bg-green-200 focus:ring-green-400">
          Sign In
        </button>
      </a>
      <a href="{% url 'account_signup' %}">
        <button class="block p-2 bg-yellow-100 rounded shadow md:m-2 text-grey-800 hover:bg-yellow-200 focus:ring-yellow-400">
          Sign Up
        </button>
      </a>
    {% endif %}
    </div>


    {% block content %}{% endblock %}

    <footer class="flex items-center justify-center w-full mb-5">
      <div class="text-center">
        <p>
          <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'help' %}">Help</a>
        </p>
        <p>
          <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'about' %}">About Us</a>
        </p>
        <p>
          <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'tos' %}">Terms of Service</a>
        </p>
        <p>
          <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'privacy' %}">Privacy Policy</a>
        </p>
      </div>
    </footer>

  </body>

</html>

