{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% if enable_logrocket %}
      <script src="https://cdn.lr-in.com/LogRocket.min.js" crossorigin="anonymous"></script>
      <script>window.LogRocket && window.LogRocket.init('gbwkwf/fast-grader');</script>
    {% endif %}


    {% comment %}  htmx  {% endcomment %}
    {% if debug %}
      <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    {% endif %}
    <script>
      // htmx init script
      document.addEventListener('DOMContentLoaded', () => {
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
      })
    </script>

    <title>{% block title %}Fast GC Grader{% endblock %}</title>
    {% block head %}{% endblock %}

    {% tailwind_css %}
  </head>

  <body>

    {% include 'core/navigation.html' %}

    {% block content %}{% endblock %}

    {% include 'core/footer.html' %}

  </body>

</html>

