{% extends 'base.html' %}

{% block body %}


<div class="prose p-2 lg:p-6">
  <h1>Color Demos</h1>

  <h2>Steel Blue</h2>
  <div class="flex flex-wrap">
    <div class="h-20 w-24 bg-blue-100"></div>
    <div class="h-20 w-24 bg-blue-200"></div>
    <div class="h-20 w-24 bg-blue-300"></div>
    <div class="h-20 w-24 bg-blue-400"></div>
    <div class="h-20 w-24 bg-blue-500"></div>
    <div class="h-20 w-24 bg-blue-600"></div>
    <div class="h-20 w-24 bg-blue-700"></div>
    <div class="h-20 w-24 bg-blue-800"></div>
    <div class="h-20 w-24 bg-blue-900"></div>
  </div>

  <h2>Honeydew</h2>
  <div class="flex flex-wrap">
    <div class="h-20 w-24 bg-lightblue-100"></div>
    <div class="h-20 w-24 bg-lightblue-200"></div>
    <div class="h-20 w-24 bg-lightblue-300"></div>
    <div class="h-20 w-24 bg-lightblue-400"></div>
    <div class="h-20 w-24 bg-lightblue-500"></div>
    <div class="h-20 w-24 bg-lightblue-600"></div>
    <div class="h-20 w-24 bg-lightblue-700"></div>
    <div class="h-20 w-24 bg-lightblue-800"></div>
    <div class="h-20 w-24 bg-lightblue-900"></div>
  </div>

  <h2>Cyber Yellow</h2>
  <div class="flex flex-wrap">
    <div class="h-20 w-24 bg-yellow-100"></div>
    <div class="h-20 w-24 bg-yellow-200"></div>
    <div class="h-20 w-24 bg-yellow-300"></div>
    <div class="h-20 w-24 bg-yellow-400"></div>
    <div class="h-20 w-24 bg-yellow-500"></div>
    <div class="h-20 w-24 bg-yellow-2400"></div>
    <div class="h-20 w-24 bg-yellow-700"></div>
    <div class="h-20 w-24 bg-yellow-800"></div>
    <div class="h-20 w-24 bg-yellow-900"></div>
  </div>

  <h2>Spanish Violet</h2>
  <div class="flex flex-wrap">
    <div class="h-20 w-24 bg-violet-100"></div>
    <div class="h-20 w-24 bg-violet-200"></div>
    <div class="h-20 w-24 bg-violet-300"></div>
    <div class="h-20 w-24 bg-violet-400"></div>
    <div class="h-20 w-24 bg-violet-500"></div>
    <div class="h-20 w-24 bg-violet-600"></div>
    <div class="h-20 w-24 bg-violet-700"></div>
    <div class="h-20 w-24 bg-violet-800"></div>
    <div class="h-20 w-24 bg-violet-900"></div>
  </div>

  <h2>Dark Purple</h2>
  <div class="flex flex-wrap">
    <div class="h-20 w-24 bg-purple-100"></div>
    <div class="h-20 w-24 bg-purple-200"></div>
    <div class="h-20 w-24 bg-purple-300"></div>
    <div class="h-20 w-24 bg-purple-400"></div>
    <div class="h-20 w-24 bg-purple-500"></div>
    <div class="h-20 w-24 bg-purple-600"></div>
    <div class="h-20 w-24 bg-purple-700"></div>
    <div class="h-20 w-24 bg-purple-800"></div>
    <div class="h-20 w-24 bg-purple-900"></div>
  </div>

  <h1 class="pt-6">Font Demos</h1>

  <p class="text-lg font-brand">I am the <b>main brand font!</b></p>
  <p class="text-lg font-copy">I am the copy font.</p>
  <p class="text-lg font-accent">I am the accent font</p>
  <p class="text-lg font-mono">I am the mono font</p>
</div>


{% endblock %}

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
