{% extends 'base.html' %}

{% block body %}


<div class="prose p-2 lg:p-6">
  <h1>Color Demos</h1>

  <p>
    The round colors are the ones from the color pallate. Depending on the hue
    and saturation of the palate color, they live at different points along
    the tailwind gradient, so that all colors have even gradients from dark to
    light. If there are certain specific hues we want to focus in on, they can
    be given specific aliases, like "blue-main", or just "primary", etc.
  </p>
  <p>
    The name for each color in tailwind config is in parenthesis aside the
    color name.
  </p>

  <h2>Steel Blue (<code>blue</code>)</h2>
  <div class="flex flex-wrap w-screen">
    <div class="h-24 w-24 bg-blue-100"></div>
    <div class="h-24 w-24 bg-blue-200"></div>
    <div class="h-24 w-24 bg-blue-300"></div>
    <div class="h-24 w-24 bg-blue-400"></div>
    <div class="h-24 w-24 bg-blue-500"></div>
    <div class="h-24 w-24 bg-blue-600"></div>
    <div class="rounded-full shadow-lg h-24 w-24 bg-blue-700"></div>
    <div class="h-24 w-24 bg-blue-800"></div>
    <div class="h-24 w-24 bg-blue-900"></div>
  </div>

  <h2>Honeydew (<code>dew</code>)</h2>
  <div class="flex flex-wrap w-screen">
    <div class="h-24 w-24 bg-dew-100 rounded-full shadow-lg"></div>
    <div class="h-24 w-24 bg-dew-200"></div>
    <div class="h-24 w-24 bg-dew-300"></div>
    <div class="h-24 w-24 bg-dew-400"></div>
    <div class="h-24 w-24 bg-dew-500"></div>
    <div class="h-24 w-24 bg-dew-600"></div>
    <div class="h-24 w-24 bg-dew-700"></div>
    <div class="h-24 w-24 bg-dew-800"></div>
    <div class="h-24 w-24 bg-dew-900"></div>
  </div>

  <h2>Cyber Yellow (<code>yellow</code>)</h2>
  <div class="flex flex-wrap w-screen">
    <div class="h-24 w-24 bg-yellow-100"></div>
    <div class="h-24 w-24 bg-yellow-200"></div>
    <div class="h-24 w-24 bg-yellow-300"></div>
    <div class="h-24 w-24 bg-yellow-400 rounded-full shadow-lg"></div>
    <div class="h-24 w-24 bg-yellow-500"></div>
    <div class="h-24 w-24 bg-yellow-600"></div>
    <div class="h-24 w-24 bg-yellow-700"></div>
    <div class="h-24 w-24 bg-yellow-800"></div>
    <div class="h-24 w-24 bg-yellow-900"></div>
  </div>

  <h2>Spanish Violet, Dark Purple (<code>purple</code>)</h2>
  <div class="flex flex-wrap w-screen">
    <div class="h-24 w-24 bg-purple-100"></div>
    <div class="h-24 w-24 bg-purple-200"></div>
    <div class="h-24 w-24 bg-purple-300"></div>
    <div class="h-24 w-24 bg-purple-400"></div>
    <div class="h-24 w-24 bg-purple-500"></div>
    <div class="h-24 w-24 bg-purple-600"></div>
    <div class="h-24 w-24 bg-purple-700"></div>
    <div class="h-24 w-24 bg-purple-800 rounded-full shadow-lg"></div>
    <div class="h-24 w-24 bg-purple-900 rounded-full shadow-lg"></div>
  </div>

  <h1 class="pt-6">Font Demos</h1>

  <p class="text-2xl font-brand">I am the <b>main brand font!</b></p>
  <p class="text-lg font-copy">I am the copy font.</p>
  <p class="text-lg font-accent font-light italic">I am the accent font</p>
  <p class="text-lg font-mono">I am the mono font</p>


  <h1 class="pt-6">Components</h1>
  <button>Primary Button</button>
  <button class="secondary">Secondary Button</button>

</div>


{% endblock %}

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
