{% load abs_url %}

<div class="flex flex-row items-center p-1 mt-2 rounded border-1 gap-3">
  <div class="inline-flex flex-col">
    <p class="text-sm text-gray-700">Assignment Name</p>
    <p class="text-base">{{ session.assignment_name }}</p>
  </div>
  <div class="inline">
    <button
      class="inline p-2 m-1 bg-dew-100 hover:bg-dew-200 syncSessionButton"
      hx-get="{% abs_url 'ext_syncing_active' session.assignment_name %}"
      hx-target="body"
      data-pk="{{ session.pk}}">
      {% if session.last_synced %}
        Re-Sync
      {% else %}
        Sync Grades
      {% endif %}
    </button>
    <button
      class="inline p-2 m-1 bg-yellow-100 hover:bg-yellow-200"
      hx-target="body"
      hx-get="{% abs_url 'ext_session_detail' session.pk %}">
        Details
    </button>
  </div>
</div>
