{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}


<div class="p-2">

  <h1>Your Profile</h1>
  <p>Hi, {{ user.username }}</p>

  <a href="{% url 'grader' %}">
    <button class="p-1 m-1 text-lg font-medium text-white bg-green-700 rounded shadow focus:ring-green-300 hover:bg-green-600">
      Open Fast Grader
    </button>
  </a>

</div>

{% if sessions %}

<h3 class="p-2">Your Grading Sessions</h3>

{% comment %} One card for each submission {% endcomment %}
<div class="container flex flex-row flex-wrap">
  {% for sub in sessions %}
    {% include 'account/partials/session_card.html' %}
  {% endfor %}
</div>

{% endif %} {% comment %}  the user has any sessions to begin with {% endcomment %}


{% endblock %}
