[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/jack/fast_grader
ExecStart=/home/jack/fast_grader/conf/entrypoint.sh

[Install]
WantedBy=multi-user.target
