{% load account socialaccount %}
{% load static %}
{% load abs_url %}

<button class="absolute flex flex-row items-center justify-center p-1 cursor-pointer openClassFast group bg-gradient-to-tr from-yellow-300 to-red-100 hover:bg-none hover:bg-yellow-100 top-2 right-2">
  <p class="text-xs italic font-semibold">ClassFast</p>
  <img src="/icons/favicon-32x32.png" />
</button>
<div>
  <h1 class="py-3 font-serif font-semibold text-center">Welcome!</h1>
  <div class="p-3 bg-white rounded-lg shadow-md" hx-get="{% abs_url 'ext_list_sessions' %}" hx-trigger="load"></div>
</div>

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
