{% if not synced_sessions and not unsynced_sessions %}

<div>
  <h3>No Grading Sessions Yet</h3>
  <p>
    Head over to <a class="link openClassFast">ClassFast</a> and do some
    grading!
  </p>
</div>

{% else %}

<div class="flex flex-col gap-3">
  <div>
    <h3>Unsynced Grading Sessions</h3>
    {% for session in unsynced_sessions %}
      {% include 'ext/_session_info_row.html' %}
    {% endfor %}
  </div>

  <div>
    <h3>Synced Grading Sessions</h3>
    {% for session in synced_sessions %}
      {% include 'ext/_session_info_row.html' %}
    {% endfor %}
  </div>
</div>

{% endif %}

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
