{% load abs_url %}

<div id="jfkd__Parent">
  <button class="bg-blue-200 ring-blue-400 hover:bg-blue-100" hx-target="#jfkd__Parent" hx-get="{% abs_url 'ext_home' %}">Go Back</button>
  <button id="resumeGrading" data-pk="{{ session.pk }}" class="bg-green-200 ring-green-200 hover:bg-green-100">Resume Grading</button>
  <button id="viewOnSite" data-pk="{{ session.pk}}" class="bg-yellow-200 ring-yellow-200 hover:bg-yellow-100">View on Site</button>

  {% include 'grader/partials/session_detail.html' %}
</div>

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
