{% extends 'base.html' %}

{% load account socialaccount %}


{% block content %}

<div class="prose m-2 mb-6">
  <h1>Welcome to Beta!</h1>
  <p>
    On fast grader beta, you'll find the lastest and greatest features that we
    have to offer, with updates often being applied multiple times per day!
    We're very grateful to anyone who is interested in helping out by using it!
  </p>
  <p>
    You'll notice that when you log in to this website
    (<code>beta.classfast.app</code>), none of your grading data from the main
    site is here, and any grading you create here will not sync with the main site.
    This is expected behavior, and it's necessary for us to ensure the
    integrity of data across both sites, and to be able to roll out new
    features on this site faster.
  </p>
  <p>
    Finally, <b>if you are using the beta site, make sure you're using the beta
    chrome extension too!</b> As of writing this, the beta chrome extension
    isn't released on the chrome web store, and the main extension doesn't talk
    to the beta site, but that will be fixed soon.
  </p>
  <p>
    If you do choose to stick with the beta site, and we hope you do, click
    on the button below to log in!
  </p>
</div>
  <div class="m-2 h-16 w-52">
    <a href="{% provider_login_url 'google' %}">
      {% include 'account/sign_in_with_google.html' %}
    </a>
  </div>

{% endblock %}


{% comment %}
vi:filetype=htmldjango
{% endcomment %}
