<footer class="flex items-center justify-center w-full py-4 bg-purple-900 border-t border-black">
  <div class="text-center">
    <p>
      <a class="footer-link" href="{% url 'help' %}">Help</a>
    </p>
    <p>
      <a class="footer-link" href="{% url 'about' %}">About Us</a>
    </p>
    <p>
      <a class="footer-link" href="{% url 'terms_of_service' %}">Terms of Service</a>
    </p>
    <p>
      <a class="footer-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
    </p>
    <p class="text-xs text-gray-200">&copy; 2022 ClassFast LLC</p>
  </div>
</footer>

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
