{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon" />

    <link rel="manifest" href="{% static 'core/site.webmanifest' %}">
    <meta name="theme-color" content="#ffffff">

    <meta name="robots" content="index, follow">

    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'landing_page/diff_view.png' %}" />
    <meta property="og:title" content="fast grader for Google Classroom" />
    <meta name="description" content="The fastest tool for Google Classroom grading" />
    <title>{% block title %}Fast Grader{% endblock %}</title>

    {# fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">

    {% if enable_logrocket %}
      <script src="https://cdn.lr-in.com/LogRocket.min.js" crossorigin="anonymous"></script>
      <script>window.LogRocket && window.LogRocket.init('gbwkwf/fast-grader');</script>
    {% endif %}


    {#  htmx  #}
    {% if debug %}
      <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.js"></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    {% endif %}
    <script>
      // htmx init script for csrf
      document.addEventListener('DOMContentLoaded', () => {
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
      })

    </script>

    {% tailwind_css %}

    {% include 'fonts.html' %}
  </head>

  <body class="bg-gray-100">
    {% block body %}

    {% include 'core/navigation.html' %}

    <header class="flex items-center bg-yellow-200 rounded-b-3xl">
      {% include 'core/partials/logo.html' %}
      {% block extra_header %}{% endblock %}
    </header>


    <div class="flex flex-col min-h-screen">
      <div class="flex-grow">
        {% block content %}{% endblock %}
      </div>

      <div class="flex-shrink">
        {% include 'core/footer.html' %}
      </div>
    </div>

    {% endblock %}
  </body>

</html>


{% comment %}
vi:filetype=htmldjango
{% endcomment %}
