<form hx-post="{% url 'choose_course' %}" hx-swap="outerHTML">

  {% csrf_token %}


  {% if classes.next_page_token %}
    <input type="hidden" value="{{ classes.next_page_token }}" />
  {% endif %}


  <label class="block text-sm text-gray-600" for="choice">
    Course
  </label>


  <select
    class="text-sm md:text-lg"
    name="choice">

    <option>Please choose a course</option>

    {% for class in classes.classes %}
      <option value="{{ class.id_ }}">{{ class.name }}</option>
    {% endfor %}

  </select>


  <button
    class="p-1 m-1 font-medium font-bold text-white bg-indigo-500 rounded hover:bg-indigo-400">
    Submit
  </button>

</form>
