{% comment %}

The main grading tool.

{% endcomment %}



<div id="toolContainer" class="h-3/5 blur-sm">

  <div class="w-full h-full grid gap-1 grid-cols-3">
    <div id="studentContent" class="w-full h-full p-3 m-3 border-2 border-gray-200 text-code bg-gradient-to-br from-white via-green-100 to-gray-200 col-span-2">
      {% comment %}Student Content Panel{% endcomment %}

    </div>

    <div class="w-full h-full p-3 m-3 border-2 border-gray-200 overflow-clip bg-gradient-to-tr from-gray-100 via-yellow-100 to-white col-auto">
      {% comment %}Interaction Feedback Panel{% endcomment %}

      <div class="sticky top-0">
        <div>
          <h3 class="text-black">StudentName</h3>
          <p id="grName" class="text-grey-800">...</p>
          <h3 class="text-black">Grade</h3>
          <p class="text-grey-800">
            <span id="grGrade">...</span>
            /
            <span id="grMaxGrade">...</span>
          </p>
          <h3 class="text-black">Current Comment</h3>
          <p id="grComment" class="text-grey-800">...</p>
        </div>
        <div>
          <h2>Keyboard Shortcuts</h2>
          <div class="grid grid-cols-2">
            <p class="text-black bold">spacebar</p>
            <p class="text-black ">Scroll down</p>

            <p class="text-black bold">shift + spacebar</p>
            <p class="text-black ">Scroll up</p>

            <p class="text-black bold">enter</p>
            <p class="text-black ">Next student</p>

            <p class="text-black bold">shift + enter</p>
            <p class="text-black ">Previous student</p>

            <p class="italic text-black bold">any number</p>
            <p class="text-black ">Input grade</p>

            <p class="text-black bold">backspace</p>
            <p class="text-black ">delete grade</p>

            <p class="text-black bold">c</p>
            <p class="text-black ">compose comment</p>

            <p class="text-black bold">s</p>
            <p class="text-black ">sync with google classroom</p>

            <p class="text-black bold">b <span class="italic"><character></span></p>
            <p class="text-black ">comment bank</p>

            <p class="text-black bold">B <span class="italic"><character></span></p>
            <p class="text-black ">
              comment bank edit mode
            </p>
            <p>FAQ</p>
              <a class="inline" href="{% url 'faq' %}#comment_bank">
                <button class="w-8 h-8 bg-white rounded-full shadow transition nhover:shadow-lg">?</button>
              </a>
            <p>
        </div>
      </div>
    </div>
  </div>
</div>
