{% extends 'base.html' %}

{% block title %}FAQ – Fast Grader{% endblock %}

{% block content %}

<div class="container p-2 pt-8 bg-gray-100 rounded lg:rounded lg:m-4 lg:p-4 max-w-prose">
  <h1>About Us</h1>

  <p class="m-2">
    This project was made by me, Jack DeVries. I am a teacher from New Jersey,
    and this site is a solution to the pain and slowness involved in taking a
    quick look at student work in Google Classroom, and getting feedback to
    students.
  </p>
  <p class="m-2">
    I wanted to find a better way to efficiently get my students work in front
    of my eyes, and to get my feedback in front of theirs. As a hobbyist
    developer, I recognized that a keyboard-first tool and text-focused tool
    would help me reach that goal, and I hope that you will find it useful
    in your own grading workflow, too.
  </p>
  <p class="m-2">
    Do you have any ideas or feature requests for this site? I would love to
    hear what you think towards the continued growth of this project! Open up
    an issue on GitHub, or send me a personal email at
    <a 
      class="link"
      href="mailto:jackdevriesmusic@gmail.com">jackdevriesmusic@gmail.com!</a>
  </p>
</div>

{% endblock %}
