<footer class="flex items-center justify-center w-full py-4 mt-8 bg-gray-200">
  <div class="text-center">
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'help' %}">Help</a>
    </p>
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'about' %}">About Us</a>
    </p>
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'terms_of_service' %}">Terms of Service</a>
    </p>
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'privacy_policy' %}">Privacy Policy</a>
    </p>
    <p class="text-xs">&copy; 2021 ClassFast LLC</p>
  </div>
</footer>
