<footer class="flex items-center justify-center w-full bg-gray-100">
  <div class="text-center">
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'help' %}">Help</a>
    </p>
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'about' %}">About Us</a>
    </p>
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'tos' %}">Terms of Service</a>
    </p>
    <p>
      <a class="text-blue-700 underline visited:text-purple-700" href="{% url 'privacy' %}">Privacy Policy</a>
    </p>
  </div>
</footer>
