{% extends 'base.html' %}

{% load static %}

{% block body %}

{% include 'core/navigation.html' %}

{# main landing section with video #}
<div class="flex flex-col items-center justify-center min-h-screen m-auto md:pt-8 md:px-4 landing-page-grid">

  <div class="xl:justify-self-center">
    {% include 'core/partials/logo.html' %}
  </div>

  <div class="flex flex-col items-center justify-center lg:pr-12 lg:items-start md:justify-self-start xl:justify-self-center xl:items-center gap-2 xl:row-start-2 xl:col-span-1 md:col-span-2">
    <h1 class="font-serif text-2xl lg:text-4xl xl:text-5xl">give more feedback</h1>
    <h1 class="font-serif text-2xl lg:text-4xl">be data driven</h1>
    <h2 class="font-serif text-lg lg:text-2xl">do more grading</h1>
    <h2 class="font-serif text-lg lg:text-2xl">in less time</h1>
  </div>

  <video muted controls loop autoplay class="p-2 md:col-span-2 xl:col-span-2 xl:row-span-3">
    <source src="{% static 'landing_page/demo.mp4' %}" type="video/mp4"></source>
  </video>

  <div class="justify-self-center xl:row-start-3">
    <a href="{% url 'grader' %}">
      <button class="p-4 text-xl shadow-md lg:text-3xl lg:p-6 xl:p-10 md:p-4 md:text-2xl transition bg-gradient-to-r align-self-center from-purple-300 to-green-300 hover:shadow-2xl hover:text-white">
        Start Grading
      </button>
    </a>
  </div>

</div>


{# features spec #}
<div class="flex flex-col items-center justify-center rounded-lg sm:p-4 md:p-8 lg:p-12 xl:p-20 md:m-8 lg:m-12 xl:m-20 sm:m-4 backdrop-filter backdrop-blur-xl bg-gradient-to-br from-orange-100 via-yellow-100 to-orange-100">
  <h1 class="flex-shrink font-serif text-center lg:text-5xl xl:text-8xl lg:mb-8 xl:mb-12">⚡️ Grade Like Lightning 🌩</h1>

  <div class="flex-grow lg:grid lg:grid-cols-3 grid-rows-7">

    <div class="flex flex-col items-center max-w-md p-2 m-2 m-3 shadow-md row-span-3 bg-gradient-to-tr from-lime-100 to-lime-200 rounded-md">
      <h3 class="text-center">Go Faster</h3>
      <p>Keyboard shortcuts change grading from a slog to a dance!</p>
      <img
        src={% static 'landing_page/keyboard.jpg' %}
        class="w-4/5 m-auto border-2 border-gray-400 rounded shadow"
        />
    </div>

    <div class="max-w-md p-2 m-2 m-3 shadow-md bg-gradient-to-tr row-start-2 row-span-3 from-green-100 to-green-200 col-start-2 rounded-md">
      <h3 class="text-center">Cut to the Chase</h3>
      <p>
        Docs and slides are exported to plain text, so you can see more at a
        glance and spend less time waiting for loading between assignment
        submissions.
      </p>
      <img
        src={% static 'landing_page/plain_text.png' %}
        class="w-4/5 m-auto mt-4 border-2 border-gray-400 rounded shadow"
        />
    </div>

    <div class="max-w-md p-2 m-2 m-3 shadow-md bg-gradient-to-tr from-emerald-100 to-emerald-200 row-span-3 row-start-4 col-start-3 rounded-md">
      <h3 class="text-center">Differences Only</h3>
      <p>
        See only the most relevant information: exactly what the student added
        in green, and what they deleted in red.
      </p>
      <img
        src={% static 'landing_page/diff_view.png' %}
        class="w-4/5 m-auto mt-4 border-2 border-gray-400 rounded shadow"
        />
    </div>
  </div>

</div>

<div class="flex flex-col items-center justify-center">
  <h3>What Next?</h3>
  <p>
  <a href="{% url 'grader' %}">
    <button class="p-4 hover:bg-green-200">
      <span>Start Grading</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="inline w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </button>
  </a>
  <a href="{% url 'profile' %}">
    <button class="p-4 bg-purple-100 hover:bg-purple-200">
      <span>Sign In with Google</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="inline w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
      </svg>
    </button>
  </a>
</div>


{# TODO: paid services overview #}
<!-- <div class="h-full"> -->
<!-- </div> -->

{# TODO: development roadmap #}
<!-- <div class="h-full"> -->
<!-- </div> -->


<div class="pt-8">
  {% include 'core/footer.html' %}
</div>
{% endblock %}
