{% load static %}

<button rol="button" aria-label="toggle sidebar" id="navHamburger" class="fixed top-0 right-0 z-50 m-0 bg-gray-100 shadow-xl transition hover:shadow-none hover:bg-gray-200 focus:ring-0 md:right-2 md:top-2">
  <svg viewBox="0 0 100 80" width="40" height="40" aria-label="hamburger menu icon">
    <rect width="100" height="10"></rect>
    <rect y="34" width="100" height="10"></rect>
    <rect y="68" width="100" height="10"></rect>
  </svg>
</button>

<div id="navContainer" class="fixed z-10 hidden w-full h-full">
  <nav class="fixed top-0 right-0 z-20 flex justify-end h-full pt-12 pl-4 bg-purple-100 border border-t-0 border-b-0 border-l-8 border-r-0 border-yellow-200 rounded shadow-2xl opacity-95">
    <div class="max-w-md pr-24">
      <div class="block pb-3 border-b-2 border-gray-400">
        {% if request.user.is_authenticated %}
          <p class="ml-3">Logged in as {{ user.username }}</p>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="block p-2 text-gray-800 bg-indigo-100 rounded shadow hover:shadow-none md:m-2 hover:bg-indigo-200 focus:ring-indigo-400">
              Log Out
            </button>
          </form>
        {% else %}
          {% include 'account/sign_in_with_google.html' %}
        {% endif %}
      </div>
      <div class="flex flex-col">
        <a href="{% url 'home' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">Home</h3></a>
        <a href="{% url 'profile' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">Profile</h3></a>
        <a href="{% url 'grader' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">Grader</h3></a>
        <a href="{% url 'help' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">Help</h3></a>
        <a href="{% url 'about' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">About Us</h3></a>
        <a href="{% url 'terms_of_service' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">Terms of Service</h3></a>
        <a href="{% url 'privacy_policy' %}"><h3 class="inline-block p-4 text-gray-800 rounded-lg hover:text-black hover:shadow-lg transition">Privacy Policy</h3></a>
      </div>
    </div>
  </nav>
</div>

<script src="{% static 'core/navbar.js' %}"></script>
