{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div class="container p-2 pt-8 bg-gray-100 rounded lg:rounded lg:m-4 lg:p-4 max-w-prose">
  <h1>Privacy Policy</h1>

  <p class="m-2">
    Fast Grader is currently in an early stage of development. As such, more
    analytics tools will be incorporated into the platform, and your use of
    the site will be analyzed in detail for the development of the project.
    Additionally, this means that we reserve the right to change this policy
    at any time without notice.
  </p>
  <p class="m-2">
    Fast Grader will not sell your data to third parties. We will not sell
    email lists to advertisers. However, we will utilize Google AdSense to
    support free use of our platform with advertisements. Please note the
    following regarding Google AdSense:
  </p>
  <h4 class="m-2 text-lg text-bold">Google AdSense</h4>
  <ul class="ml-8 list-disc">
    <li>
      Third party vendors, including Google, use cookies to serve ads based on
      a user's prior visits to your website or other websites.
    </li>
    <li>
      Google's use of advertising cookies enables it and its partners to serve
      ads to your users based on their visit to your sites and/or other sites
      on the Internet.
    </li>
    <li>
      Users may opt out of personalized advertising by visiting
      <a 
        class="text-blue-700 underline visited:text-purple-700"
        href="https://www.google.com/settings/ads">Ads Settings.</a>
    </li>

  </ul>
  <h4 class="m-2 text-lg text-bold">LogRocket</h4>
  <p class="m-2">
    <a
      class="text-blue-700 underline visited:text-purple-700" 
      href="https://logrocket.com/">LogRocket</a> will be used
    to analyze your usage of the grading app and continuously improve it. Most
    of the content on the page, including grades, comments, and student
    submission content is captured by this tool. However, we have ensured that
    LogRocket <b>will not</b> capture any student names whatsoever, so any
    assignment submission data it does have visibility of will be anonymous.
  </p>
  <p class="m-2">
    Additionally, the following third-party platforms will receive information
    about your usage of this website, as is the norm on nearly all websites:
  </p>
  <ul class="ml-8 list-disc">
    <li>Google AdSense</li>
    <li>Google Analytics</li> 
  </ul>
<h4 class="m-2 text-lg text-bold">
  Children's Online Privacy Protection Rule ("COPPA")
</h4>
  <p class="m-2">
    This website is COPPA compliant, because any personal information about
    individuals under 13 years of age is provided by an adult who has the
    permission to do so. Any student information in our database is treated
    as sensitive data under the presumption that all students are potentially
    under thirteen years of age. Student names and grading data is protected
    by industry best practice security.
  </p>
  <h3>Account Deletion</h3>
  <p class="m-2">
    Because this site is in an early stage of development, if you would like
    delete your account, please send me a personal email at
    <a 
      class="text-blue-700 underline visited:text-purple-700"
      href="mailto:jackdevriesmusic@gmail.com">jackdevriesmusic@gmail.com</a>
    so I can accommodate that request.
</div>

{% endblock %}
