{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="container pt-8 bg-gray-100 rounded lg:m-4 lg:p-4 max-w-prose">
  <h1>Terms of Service</h1>

  <p class="m-2">
    Fast Grader is currently in an early stage of development. Do not use this
    website if you are not at least 18 years of age.
  </p>
  <p class="m-2">
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
    DEALINGS IN THE SOFTWARE.
  </p>
</div>

{% endblock %}
