{% extends 'base.html' %}
{% load static %}


{% block title %}Grading Tool{% endblock %}


{% block content %}


{# Random status messages get injected into here at the top #}
<div id="status" class="pt-4 lg:pt-12"></div>


<div class="lg:hidden">
  <p class="p-2 bg-red-100">
    <span>
      <b>Warning:</b> a better experience for small screens and mobile devices
      is coming soon;
    </span>
    <a class="text-blue-700 underline visited:text-purple-700"
       href="https://github.com/jdevries3133/fast_grader/blob/main/misc/wireframes.png"
       >click here to see our big plans!</a>
    <span>
      It's not quite ready yet, though, so we recommend using a computer
      instead of a phone, or making your browser full-screen.
    </span>
  </p>
</div>


{# Main grading tool #}

<div class="w-full h-full p-1 m-1 lg:p-4 lg:m-4 lg:grid lg:gap-1 lg:grid-cols-3">

  <div class="container flex flex-col gap-1">{# begin side panel #}

    {# header and cls / assgt selection #}
    <div class="lg:bg-gray-300 lg:rounded-xl lg:mb-4 lg:mr-4 lg:p-3">
      <div class="container">
        <h1>Setup</h1>
      </div>

      <div class="lg:w-96">
        {% comment %}
          this div unfolds a chain of htmx modules that ultimately facilitate
          choosing course and assignment
        {% endcomment %}
        <div
          hx-get="{% url 'choose_course' %}"
          hx-trigger="load"
          hx-swap="outerHTML"></div>

        <a href="{% url 'flush_selections' %}">
          <button class="p-1 m-1 font-medium text-white bg-red-700 rounded shadow focus:ring-red-300 hover:bg-red-600">
            Restart
          </button>
        </a>
        <a id="leaveGrader" href="#">
          <button class="p-1 m-1 font-medium text-white bg-blue-700 rounded shadow focus:ring-blue-300 hover:bg-blue-600">
            Save and Exit
          </button>
        </a>
      </div>
    </div>


    {# Interaction Feedback Panel #}
    <div class="w-full h-full p-1 border-2 border-gray-200 overflow-clip bg-gradient-to-tr from-gray-100 via-green-100 to-white col-auto">
      <div class="sticky top-0">
        <div>
          <h3 class="text-black">Student Name</h3>
          <p id="grName" data-private class="text-grey-800">...</p>
          <div class="mb-6">
            <h3 class="text-black">Grade</h3>
            <p class="text-sm text-gray-500">
              Just start typing to enter a grade.
            </p>
            <p class="text-grey-800">
              <span id="grGrade">...</span>
              /
              <span id="grMaxGrade">...</span>
            </p>
          </div>
          <div class="mb-6">
            <h3 class="text-black">Comment</h3>
            <p class="text-sm text-gray-500">
              Use keyboard shortcuts below to enter a comment; experiment with
              the comment bank!
            </p>
            <p id="grComment" class="text-grey-800">...</p>
          </div>
        </div>
        <div>
          <h2>Keyboard Shortcuts</h2>
          <div class="grid grid-cols-2">
            <p>next student</p>
            <p>enter</p>

            <p>previous student</p>
            <p>shift + enter</p>

            <p>compose comment</p>
            <p>c</p>

            <p>save</p>
            <p>s</p>

            <p>comment bank</p>
            <p>b <span class="italic"><character></span></p>

            <p>edit banked comment</p>
            <p>B <span class="italic"><character></span></p>
          </div>
        </div>


      </div>
    </div>
  </div> {# end side panel #}


  {# Student Content Panel #}
  <div id="toolContainer" class="p-1 border-2 border-gray-200 lg:col-span-2 blur-sm text-code bg-gradient-to-br from-white via-yellow-100 to-gray-200">
    <h1>Submission Content</h1>
    <div class="flex flex-row items-center">
      <p class="pr-2" for="diffSelectSlider">
        View Differences Only

        {# Info icon #}
        <a class="text-blue-700 visited:text-purple-700 hover:shadow-md"

         {# !!! What the info icon will link to !!! #}
         href="{% url 'help' %}#diffing"

        >
          <svg class="inline w-6 h-6" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </a> {# End info icon #}

      </p>
      <div class="switch">
        <input id="diffSelectInput" type="checkbox" class="slider__input"></input>
        <span id="diffSelectSlider" class="slider round"></span>
      </div>
    </div>
    <div id="studentContent"></div>
  </div>

</div>


<script src="{% static 'grader/script.js' %}"></script>


{% endblock %}
