{% extends 'base.html' %}

{% block title %}{{ session.assignment_name }}{% endblock %}


{% block content %}

<div id="tableContainer" class="container p-1 m-1 md:p-4 md:m-4">

  <h1 class="my-8">{{ session.assignment_name }}</h1>

  <a href="{% url 'resume_grading' session.pk %}">
    <button class="p-2 bg-yellow-100 focus:ring-yellow-100">Resume Grading This Assignment</button>
  </a>

  {% include 'grader/partials/session_detail.html' %}

</div>


{% endblock %}

{% comment %}
vi:filetype=htmldjango
{% endcomment %}
